.parent1 div {
    display: inline-block;
    margin: 20px;
    background-color: #eee;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 6;
}

.one {
    border: 5px solid red;
    outline: 5px solid black;
}

.two {
    border-width: 5px;
    border-style: solid;
    border-color: blue green;
    outline: 5px solid;
}

.three {
    border-width: 5px;
    border-style: dashed;
    border-color: red green blue yellow;
    outline: 5px solid;
}

.parent2 div {
    width: 400px;
    background-color: #eee;
    padding: 20px;
    margin: 20px;
}

.five {
    visibility: hidden;
}

.four {
    border-left: 10px solid #e91e63;
    outline: 10px solid #eee;
}

.six {
    border-left: 10px solid #03a9f4;
    outline: 10px solid #eee;
}